/******************************************
***    GENERAL CSS
******************************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100%;
    background: url(../images/cover.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Roboto Slab', serif;
    box-shadow: inset 0 0 0 2000px rgba(74, 0, 224, 0.6);
}

.login-box {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.login-box h1 {
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #4caf50;
    margin-bottom: 50px;
    padding: 13px 0;
}

.text-box {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 3px solid #4caf50;
}

.text-box i {
    width: 26px;
    float: left;
    text-align: center;
}

.text-box input {
    border: none;
    background: none;
    outline: none;
    color: #fff !important;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;

}

.text-box input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #f1f1fa;
    opacity: 1;
    /* Firefox */
}


.btn {
    width: 100%;
    background: none;
    border: 3px solid #4caf50;
    color: #fff;
    padding: 5px;
    font-size: 22px;
    cursor: pointer;
    margin: 12px 0;
    margin-top: 25px;

}
